* {	
	font-family: Lato;
	color: #291f1a;
/*    font-size: 0;*/
    text-decoration: none;
    
}

body {
    font-size: 16px;  
    margin:0;
}

nav li {

    width: 150px;
    height: 40px;
    display: inline-block;
    float:right;
    text-align: center;
    color: #1ac056;    
    font-weight: bold;
}

li:hover{
    color: black;
}
section {
    background-color: #f9fcfe;
    font-size: 3em;    
}
#centerdiv{
    color: #fff;
    text-align: center;
    position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);    
}

footer {background-color: #213b50;}

span#nazwisko {
    color: #1ac056;
    font-weight: bold;
}

span#podpis {
    font-weight: lighter;
    font-size: 0.66em;
    color: #f9fcfe;


}